<h1>Editing assignment</h1>

<% form_for(@assignment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :max_hours, 'Max Hours' %><br />
    <%= f.text_field :max_hours %>
  </p>
  <p>
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @assignment %> |
<%= link_to 'Back', assignments_path %>
