<h1>Johnathon Wright</h1>

<table>
  <%- @jw.each do |time_report| %>
    <tr>
      <td><%= time_report['provider_id'] %></td>
      <td><%= time_report['team_name'] %></td>
      <td><%= format_hours( time_report['hours'] ) %></td>
      <td><%= time_report['worked_on'] %></td>
    </tr>
  <% end %>
</table>

<h1>MustModify</h1>
<table>
  <%- @mustmodify.each do |time_report| %>
    <tr>
      <td><%= time_report['provider_id'] %></td>
      <td><%= time_report['team_name'] %></td>
      <td><%= format_hours( time_report['hours'] ) %></td>
      <td><%= time_report['worked_on'] %></td>
    </tr>
  <% end %>
</table>

